@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root {
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
    /* ### Gradients
    - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
.main_container {
    display: grid;
    grid-template-columns: 57.7% 1fr;
    min-height: 100vh;
}
.logo_container {
    height: 2.5rem;
    width: 100%;
}
.logo {
    background-image: url(../src/img/logo.svg);
    background-repeat: no-repeat;
    background-size: 33%;
    height: inherit;
    width: inherit;
}
.info_container {
    background-image: url(../src/img/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 4.063rem 10rem;
}
.description_container h1 {
    color: var(--DarkGrayishRed);
    display: inline;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1.1rem;
    line-height: 4.2rem;
    text-transform: uppercase;
}
.description_container h1 span {
    color: var(--DesaturatedRed);
    font-weight: 300;
}
.description_container p {
    color: var(--DesaturatedRed);
    font-weight: 400;
    line-height: 1.8rem;
    padding-top: 1.2rem;
    width: 85%;
}
.description_container {
    max-width: 100%;
}
.input_container {
    display: flex;
    flex-flow: row nowrap;
    height: 3rem;
    margin-top: 2.6rem;
    position: relative;
    width: 90%;
}
.input_text {
    background-color: transparent;
    border: 1px solid var(--DesaturatedRed);
    border-radius: 25px;
    padding: 1.7rem;
    width: 100%;
}
.msg_error {
    color: var(--SoftRed);
    display: none;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1.7rem;
    position: absolute;
    top: 40px;
}
.error_icon {
    background-image: url(../src/img/icon-error.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    height: 30px;
    position: absolute;
    right: 25%;
    top: 25%;
    width: 30px;
}
.btn {
    align-items: center;
    background-image: linear-gradient(135deg,  hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 25px;
    display: inline-flex;
    height: 3.5rem;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 21%;
}
.btn:hover {
    box-shadow: -1px 25px 50px -10px var(--DesaturatedRed);
    background-image: none;
    background-color: hsl(0, 80%, 86%);
    cursor: pointer;
    height: 3.7rem;
}
.arrow_icon {
    background-image: url(../src/img/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    margin: 0 auto;
    width: 2rem;
}
.image_container {
    background-image: url(../src/img/hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 1024px) {
    .info_container {
        padding: 4.063rem 5rem;
    }
}
@media screen and (max-width: 768px) {
    .info_container {
        padding: 4.063rem 5rem;
    }
    .description_container h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 700px) {
    .main_container {
        grid-template-columns: 1fr;
        grid-template-rows: 15% 35% 1fr;
        grid-template-areas: 
        "logo_container"
        "image_container"
        "description_container";
        width: 100%;
    }
    .logo_container {
        grid-area: logo_container;
        left: 5%;
        position: absolute;
        height: 3rem;
        top: 5%;
    }
    .info_container {
        grid-area: description_container;
    }
    .image_container {
        background-image: url(../src/img/hero-mobile.jpg);
        background-size: 100% 100%;
        grid-area: image_container;
    }
}